body {
  background: url(../images/bg.png) center top;
  color: #000;
  font-family: Arial;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: .05em;
  font-family: Helvetica, Arial;
}

a:link,
a:hover,
a:visited,
.zone-footer li a.active {
  color: #3f966b;
  text-decoration: none;
}

.breadcrumb,
.page-node .field-type-datetime .time {
  display: none;
}

.region-user-first,
.region-user-second {
  padding-top: 49px;
}

.region-user-second input[type="text"] {
  background: url(../images/search-bg.png) repeat-x 0 0;
  border: 2px solid #3f966b;
  color: #3f966b;
  font-size: 1.4em;
  font-weight: bold;
  height: 27px;
  width: 100%;
}

.region-user-second-inner {
  position: relative;
}

.page-search-meta .section-footer {
  margin-top: 25px;
}

.region-user-second input[type="submit"] {
  background: url(../images/search-arrow.png) no-repeat center center;
  border: none;
  border-radius: 0;
  direction: ltr;
  height: 27px;
  margin: 0;
  position: absolute;
  right: 0;
  text-indent: -9000px;
  top: 0;
  width: 27px;
  z-index: 10;
}

.zone-branding-wrapper {
  background: url(../images/header-bg.png) center top;
}

.zone-menu-wrapper {
  background: url(../images/menu-bg.png) 0 0 repeat-x;
}

.logo-img {
  float: inherit;
  margin: 0 auto;
  max-width: 100%;
  width: 533px;
}

.logo-img img {
  max-width: 100%;
}

.zone-branding {
  padding: 0;
}

.section-footer {
  background: #fdfdfd;
  clear: both;
  padding: 20px 0;
}

.section-footer h2.block-title {
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
}

ul li.leaf {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-footer ul li.leaf {
  font-size: 1.2em;
  letter-spacing: .05em;
  line-height: 18px;
}

.block-main-menu li {
  display: inline;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.block-main-menu {
  padding: 11px 0 0 0;
}

.block-main-menu li a:before {
  content: "/";
  font-style: italic;
  padding: 0 7px 0 5px;
}

.block-main-menu li:first-child a:before {
  content: "";
  padding: 0;
}

.block-main-menu .expanded .menu {
  display: none;
}

.block-main-menu .expanded.active {
  padding-left: 18px;
  position: relative;
  z-index: 11;
}

.block-main-menu .expanded li a.active {
  color: #fff;
}

.block-main-menu .expanded.active:first-child {
  margin-left: -16px;
}

.block-main-menu .expanded.active > a {
  color: #fff;
  margin-left: -2px;
  padding-bottom: 3px;
  padding-top: 5px;
  position: static;
}

.block-main-menu .expanded.active > a:before,
.block-main-menu .expanded.active > a:after {
  background: url(../images/active-menu-corners.png) no-repeat 0 0 transparent;
}

.block-main-menu .expanded.active > a:before {
  content: "/";
  display: block;
  height: 23px;
  left: -2px;
  padding: 0;
  position: absolute;
  text-indent: -9000px;
  top: -5px;
  width: 18px;
}

.block-main-menu .expanded.active > a:after {
  content: "/";
  background-position: -14px 0;
  display: block;
  height: 23px;
  right: -18px;
  padding: 0;
  position: absolute;
  text-indent: -9000px;
  top: -5px;
  width: 18px;
}

.block-main-menu .expanded.active .menu {
  display: block;
  left: -2px;
  min-width: 185px;
  padding: 3px 16px 9px 16px;
  position: absolute;
  top: 18px;
  z-index: 10;
}

.block-main-menu .active .menu a:before {
  display: none;
}

.block-main-menu .active .menu li:before {
  content: "-";
  background: #fff;
  clear: both;
  display: block;
  height: 3px;
  margin: 3px 0;
  padding: 0;
  text-indent: -9000px;
  width: 15px;
}

.block-main-menu .active .menu li:first-child:before {
  display: none;
}

.block-main-menu .active .menu li {
  clear: both;
  display: block;
}

.block-main-menu .expanded.active li {
  font-size: 1em;
}

li.expanded,
li.collapsed,
li.leaf {
  padding: 0;
}

ul.menu li {
  margin: 0;
}

.pane-title {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .05em;
  margin-bottom: 1px;
  text-transform: uppercase;
}

.page-search-node .pane-nodesearch h2.pane-title {
  font-size: 1.8em;
  margin-bottom: 5px;
}

.page-search-node .pane-nodesearch .node .field-type-image {
  margin: 0 16px 0 0;
  max-width: inherit;
  width: auto;
}

.page-search-node .pane-nodesearch .pane-content {
  background: #fff;
  padding: 21px 14px 14px 18px;
}

.view {
  background: #fff;
}

.omega-12-mainpage-standard .grid-12,
.omega-12-article-page .grid-12 {
  margin-bottom: 25px;
}

.pane-node-content .pane-content {
  color: #666;
}

.pane-node-ding-content-tags .pane-title {
  color: #000;
  float: left;
}

.pane-node-ding-content-tags .pane-title:after {
  content: ":";
  margin: 0 3px 0 0;
}

.pane-node-ding-content-tags {
  color: #3f966b;
  font-weight: bold;
  letter-spacing: .05em;
}

.pane-node-ding-content-tags .pane-content {
  background: none;
}

.date-value {
  color: #333;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.node .pane-title {
  color: #000;
  font-size: 3em;
  letter-spacing: 0;
  line-height: 1.2em;
  margin-bottom: 17px;
  margin-top: 1px;
}

.node .pane-title a {
  color: #000;
}

.node .body {
  clear: both;
  font-size: 1.2em;
  line-height: 1.5em;
}

.node-emusik-playlist .body {
  clear: none;
  margin-top: 14px;
}

.node .field-type-image {
  float: left;
  margin: 0 26px 20px 0;
  max-width: 50%;
}

.node .field-type-image img {
  height: auto;
  max-width: 100%;
}

.nodes .summary,
.page-node .node .summary {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3em;
}

.page-node .node .summary,
.page-taxonomy-term .node .content .field-name-field-ding-body {
  color: #6c6c6c;
  letter-spacing: .05em;
}

.page-node .node .address {
  font-size: 1.2em;
}

.addressfield-container-inline:after {
  display: inline;
}

.node .author {
  color: #666;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 14px;
}

.node .author span {
  color: #3f966b;
}

.node .author .username {
  margin-left: 5px;
>>>>>>> case-2340
}

.node h1,
.node h2,
.node h3,
.node h4,
.node h5,
.node h6 {
  color: #000;
  letter-spacing: 0;
  line-height: 1.2em;
}

.pane-node-content {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
}

.pane-views-panes .view {
  overflow: hidden;
  padding: 10px;
}

.pane-views-panes .concerts-content,
.block-main-menu .expanded.active a,
.block-main-menu .expanded.active .menu {
  background: url(../images/black-bg.png) transparent;
}

.pane-views-panes .view.concerts {
  background: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.page-node .node {
  background: #fff;
  margin-top: 26px;
  overflow: hidden;
  padding: 24px 18px;
}

.pane-views-panes .views-field-field-list-image img,
.pane-views-panes .views-field-field-playlist-image img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.view-emusik .view-footer a,
.view-emusik .views-field-title a,
.page-search-node .search-results .title {
  font-weight: bold;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.view-emusik .view-footer a {
  font-size: 1.4em;
}

.view-emusik .views-field-title a {
  color: #000;
  display: block;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 6px;
  overflow: hidden;
}

.view-emusik .views-field-created {
  margin-bottom: 6px;
}

.views-field-created {
  color: #474340;
}

.views-field-field-ding-teaser,
.page-search-node .search-results p,
.view-emusik .views-field-field-ding-body,
.view-emusik .views-field-body {
  color: #7c7a74;
}

.view-emusik .views-field-field-ding-teaser,
.view-emusik .views-field-field-ding-body,
.view-emusik .views-field-body {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 14px;
}

.view-emusik .views-field-field-list-image {
  margin-bottom: 20px;
}

.page-seae .search-results p {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.25em;
  margin-top: -2px;
}

.view-emusik.concerts .views-field-title a {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.concerts .views-field-title {
  margin-top: -1px;
}

.concerts .views-field-field-event-date {
  color: #787572;
  font-weight: bold;
}

.concerts .views-row {
  margin-top: 12px;
}

.concerts .views-row:first-child {
  margin-top: 12px;
}

.page-node .row-1 .grid-3 .panel-pane:first-child {
  margin-top: 10px;
}

.page-node .node-details .clearfix::after {
  clear: none;
}

.page-node .field-label-inline .field-label,
.page-node .field-label-inline .field-items {
  float: none;
}

.page-node .field-type-datetime .field-label {
  margin-right: 5px;
}

.page-node .field-type-datetime {
  font-size: 1.2em;
}

.mkdru-facet-section {
  margin-bottom: 5px;
}

.mkdru-facet-title,
.mkdru-facet-section a,
.mkdru-facet-section label {
  color: #3f9666;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: .02em;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.mkdru-facet-section input[type=checkbox] {
  margin-top: -2px;
  margin-right: 4px;
}

.mkdru-facet-title,
.mkdru-result.album .e-mkdru-result-title:before {
  background: url(../images/facets-arrows.png) no-repeat right -24px;
  color: #000;
}

.mkdru-result.album .e-mkdru-result-title:before {
  content: ">";
  background-position: right 4px;
  display: block;
  float: left;
  height: 20px;
  margin-left: -25px;
  text-indent: -9000px;
  width: 20px;
}

.mkdru-result.album.open .e-mkdru-result-title:before {
  background-position: right -24px;
}

.mkdru-result.album.open td {
  color: #000;
}

.mkdru-result.album td {
  vertical-align: top;
}

.mkdru-result.details .e-close {
  cursor: pointer;
  float: right;
  color: #3f9666;
  text-transform: lowercase;
}

.mkdru-result.details .e-close:hover {
  color: #000;
}

.mkdru-result.details .b-bio-backlink {
  margin-top: 6px;
}

.mkdru-details-loader {
  float: right;
}

.closed-facet-group .mkdru-facet-title {
  color: #3f9666;
  background-position: right 4px;
}

.region-content .grid-9 .mkdru-facet-title,
.region-content .grid-9 .mkdru-facet-section br,
.page-search-meta .region-content .search-form,
.region-content .grid-9 .mkdru-facet-section a:first-child:before {
  display: none;
}

.region-content .grid-9 .mkdru-facet-section a {
  font-size: 1.8em;
  margin: 0;
}

.region-content .grid-9 .mkdru-facet-section a:before {
  content: "/";
  color: #000;
  font-style: italic;
  margin: 15px;
}

.region-content .grid-9 .mkdru-facet-section a.active {
  color: black;
}

.mkdru-results {
  background: #fff;
  padding: 16px 16px 32px 24px;
}

.mkdru-results thead th,
.mkdru-results th,
.mkdru-results tr {
  background: none;
  border-bottom: 3px solid #dcdcdc;
}

.mkdru-results table {
  border: none;
  color: #3f9666;
  font-size: 1.2em;
  font-weight: bold;
}

.mkdru-results > table > thead > tr > th:first-child,
.mkdru-results .e-mkdru-result-title {
  padding-left: 15px;
}

.mkdru-results th {
  color: #3f9666;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.e-mkdru-result-title {
  width: 200px;
}

.e-mkdru-result-year {
  width: 100px;
}

.mkdru-results tr:hover,
.mkdru-results tr:hover th,
.mkdru-results tr:hover a {
  background: none;
}

.mkdru-results tr a:hover {
  color: #000;
}

.mkdru-results tr:hover td,
.mkdru-results tr.even:hover td.active,
.mkdru-results tr.odd:hover td.active {
  background: none;
}

.mkdru-pager,
.view-emusik-related,
.pane-term-list a {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.mkdru-pager span:before,
.view-emusik-related a:after,
.pane-term-list a:afte